html {
    background-image: radial-gradient( circle at top right, hsl(180, 76%, 60%), hsl(120, 73%, 75%));
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid;
    margin-bottom: 1em;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.trapezoidcontainer {
    position: relative;
    display: flex;
    width: fit-content;
}

.trapezoid {
    z-index: 1;
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
    background-image: url("./redCup.png");
    background-size: 27em;
    /* radial-gradient( circle at top right, hsl(360, 96%, 40%), hsl(-135, 23%, 69%)); */
    background-position: 58% 27%;
    height: 20em;
    width: 15em;
}

.animation {
    animation-name: rotateOutUpLeft;
    animation-duration: 4s;
}

@keyframes rotateOutUpLeft {
    0% {
        transform-origin: left bottom;
    }
    50% {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
    }
    100% {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.shuffleanimation1 {
    animation-name: bounceInLeft1;
    animation-duration: 4s;
}

@keyframes bounceInLeft1 {
    from, 30%, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.6, 0.61, 0.355, 1);
    }
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(15em, 0, 0);
    }
    60% {
        transform: translate3d(30em, 0, 0);
    }
    75% {
        transform: translate3d(-10em, 0, 0);
    }
    90% {
        transform: translate3d(5em, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.shuffleanimation2 {
    animation-name: bounceInLeft2;
    animation-duration: 4s;
}

@keyframes bounceInLeft2 {
    from, 30%, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.6, 0.61, 0.355, 1);
    }
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(-15em, 0, 0);
    }
    60% {
        transform: translate3d(15em, 0, 0);
    }
    75% {
        transform: translate3d(-10em, 0, 0);
    }
    90% {
        transform: translate3d(5em, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.shuffleanimation3 {
    animation-name: bounceInLeft3;
    animation-duration: 4s;
}

@keyframes bounceInLeft3 {
    from, 30%, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.6, 0.61, 0.355, 1);
    }
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(-50em, 0, 0);
    }
    60% {
        transform: translate3d(-10em, 0, 0);
    }
    75% {
        transform: translate3d(-35em, 0, 0);
    }
    90% {
        transform: translate3d(5em, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.ball {
    z-index: 0;
    clip-path: circle(50% at 50% 50%);
    background-color: cornflowerblue;
    position: absolute;
    height: 7em;
    width: 7em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btnandmessage{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message{
    margin-bottom: 2em;
    font-size: 1.5em;
}

#shuffleBtn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    width:25%;
}

#shuffleBtn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

#shuffleBtn:active {
    position: relative;
    top: 1px;
}

